#loader {
    height: 100%;
    opacity: 0.6;
    background:url(load.gif) no-repeat scroll 50% 50% rgba(255, 255, 255, 0.8);
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 1000;
}
body{
    height: 100%;
}

.blind{
    display: none;
}
#queue {
    border: 2px dashed #000000;
    height: 180px;
    max-height: 200px;
    overflow: none;
    margin-bottom: 10px;
    padding: 0 3px 3px;
    width: 350px;
    max-width: 350px;
}

.btn-file {
    position: relative;
    overflow: hidden;
}
.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}