@charset "utf-8";
/* CSS Document */
body,td,th {
	color: #000;
}
  h3
    {
     background-color:#000066;
    
     color:white;
     text-decoration:underline;
      text-decoration:blink;
	  margin-top:0;
    }
	h4
	{
		color:#06F;
	}
	h4 a:link
	{
		
		color:#00C;
		font-family:Georgia, "Times New Roman", Times, serif;
	}
	h4 a:visited
	{
		text-decoration:none;
		color:#00c;
	}
	h4:hover
	{
		color:#F00;
	}
.head:hover
{
	background-color:#E60000;	
}
 td a 
 {
	 display:inline-table; height:100%; width:100%;
 }
 td a:visited
 {
	 background-color:none;
	 color:#FFF;
	 text-decoration:none;
 }
 td a:link
 {
	 color:#FFF;
	 font:inherit;
	 background-color:none;
	 text-decoration:none;
 }
 a{
	 color:#00C;}
 a:link
 {
	 color:#00C;
	 font:inherit;
	 background-color:none;
	 text-decoration:none;
 }
  a:visited
 {
	 background-color:none;
	 color:#00C;
	 text-decoration:none;
 }
 
 body
 {
	 background-color:lightblue;
 }
 button{
	display: inline-table;
	width: 70px;
	height: 40px;
		margin: 0 auto;
	background-color:#00C;
	box-shadow: inset 0px 0px 6px #fff;
	border: 1px solid #5ea617;
	border-radius: 10px;
	font-family:"Times New Roman", Times, serif;	color:#FFF;
	size:35px;
	text-align: center;
	text-shadow: 0px 1px 2px #b4d1ad;
	transition: color 0.25s ease-in-out;
}
button:hover 
	{
	color: lightblue;
}
.font1 {
	font-family: Verdana, Geneva, sans-serif;
}
.font1 {
	font-family: "Times New Roman", Times, serif;
}


